.latest-articles {
    padding: 6.66rem 0 0;
    max-width: 89.9rem;
    margin: auto;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.62rem;
        margin-bottom: 3.44rem;
    }

    &__title {
        font-size: 2rem;
        font-weight: bold;
        color: #2b2e4a;
    }

    &__see-all {
        color: var(--Primary-Color-Blue-blue-900, #152233);
        border: 1.364px solid var(--Stroke---Divider-Thin---Background---Default, #d8dde6);
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.38rem;
    }

    &__item {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 27.75rem;
        border-radius: var(--10, 0.625rem);
        background: #fff;
        /* shadow/1 */
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
    }

    &__image {
        width: 100%;
        height: 14.4175rem;
        object-fit: cover;
    }

    &__content {
        flex: 1;
        padding: 2.15rem 1.5rem 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__meta {
        display: flex;
        font-size: 0.875rem;
        align-items: center;
        text-transform: uppercase;
        margin-bottom: 0.9rem;
        svg {
            display: inline-block;
            margin: 0 0.69rem;
        }
    }

    &__category {
        color: var(--Text-Sub-Green, #63a147);
        font-weight: 600;
        & + svg {
            width: 0.25669rem;
            height: 0.25669rem;
            object-fit: contain;
        }
    }

    &__author {
        color: var(--Text-Sub-Grey, #88888e);
        font-weight: 400;
    }

    &__heading {
        color: var(--Text-Title-Blue-212769, #212769);
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 120%; /* 1.5rem */
        letter-spacing: -0.025rem;
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 1.5rem;
    }

    &__footer {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__date {
        color: var(--Text-Sub-Grey, #88888e);
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 120%; /* 1.05rem */
        text-transform: uppercase;
        display: flex;
        align-items: center;
        img {
            margin-right: 0.5rem;
            display: block;
            width: 1.125rem;
            height: 1.125rem;
            object-fit: contain;
        }
    }

    &__read-more {
        position: absolute;
        top: -1.228rem;
        right: 2.56rem;
        width: 3.6875rem;
        height: 3.6875rem;
        border-radius: 2.5rem;
        // background: #243368;
        box-shadow: 0px 4px 10.1px 0px rgba(18, 27, 140, 0.23);
        padding: 1.125rem 1.125rem 1.0625rem 1.0625rem;
        &::after {
            display: none;
        }
        img {
            margin: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

@media (max-width: 639.98px) {
    .latest-articles {
        padding: 3.18rem 1rem 6rem;
        position: relative;
        &__header {
            margin-top: 0.62rem;
            margin-bottom: 1.5rem;
        }
        &__sub-heading {
            font-size: 0.75rem;
            line-height: 120%; /* 0.9rem */
            text-transform: uppercase;
        }
        &__title {
            h2 {
                font-size: 2rem;
                line-height: 120%; /* 2.4rem */
                letter-spacing: -0.125rem;
            }
        }

        &__see-all {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            font-size: 0.875rem;
            letter-spacing: -0.00875rem;
            text-transform: capitalize;
            padding: 0.75rem 1rem 0.75rem 1.5rem;
        }

        &__list {
            grid-template-columns: 1fr;
            gap: 1.5rem;
        }

        &__item {
            padding: 0.625rem;
            height: 25rem;
            border-radius: var(--10, 0.625rem);
            background: #fff;

            /* Shadow */
            box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.07);
        }

        &__image {
            border-radius: 0.5rem;
            height: 12.3125rem;
        }

        &__content {
            padding: 1rem 0.38rem 1.69rem;
        }

        &__meta {
            margin-bottom: 0.47rem;
            svg {
            }
        }

        &__category {
            font-size: 0.75rem;
            letter-spacing: -0.015rem;
            text-transform: initial;
            & + svg {
            }
        }

        &__author {
            font-size: 0.75rem;
            letter-spacing: -0.015rem;
            text-transform: initial;
        }

        &__heading {
            font-size: 1rem;
            line-height: 120%; /* 1.2rem */
            letter-spacing: -0.04rem;
        }

        &__footer {
            margin-top: auto;
        }

        &__date {
            img {
            }
        }

        &__read-more {
            &::after {
            }
            img {
            }
        }
    }
}
