.partner-banner {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &__bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__title {
        padding: 1px;
        position: absolute;
        top: 22vh;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        // text-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
        font-size: 14.0625rem;
        font-style: normal;
        font-weight: 700;
        line-height: 130%; /* 18.28125rem */
        letter-spacing: -0.70313rem;
        background: linear-gradient(180deg, #fff 59.78%, rgba(255, 255, 255, 0) 95.38%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
    }
}

@media screen and (max-width: 639.98px) {
    .partner-banner {
        height: 27.5rem;
        &__title {
            top: 10.06rem;
            font-size: 4rem;
            font-style: normal;
            font-weight: 700;
            line-height: 130%; /* 5.2rem */
            letter-spacing: -0.08rem;
        }
    }
}

.ei-partner__container {
    position: relative;
    overflow: hidden;
    background: var(
        --Background-Color-gradient-01,
        linear-gradient(110deg, #7fb546 -60.33%, #cdefb5 -16.36%, #3d9948 20.66%, #053183 101.65%)
    );
    .ei-partner__bg-image-wrapper {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        opacity: 0.07;
        filter: grayscale(100%) opacity(50%);
        opacity: 0.07;
        img.ei-partner__bg-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .ei-partner__bg-logo-wrapper {
        position: absolute;
        top: 7.31rem;
        right: 3.81rem;
        width: 39.1875rem;
        height: 39.25rem;
        img.ei-partner__bg-logo {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .ei-partner__wrapper {
        position: relative;
        height: 50.75rem;
        padding: 6.87rem 5rem 5.13rem;
        .ei-partner__subtitle {
            color: var(--Button-White, #fff);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 1.05rem */
            text-transform: uppercase;
        }

        .ei-partner__title {
            margin-top: 1.5rem;
            max-width: 42.68rem;
            h2 {
                color: rgba(255, 255, 255, 0.4);
                font-size: 2.25rem;
                font-style: normal;
                font-weight: 500;
                line-height: 130%;
                letter-spacing: -0.125rem;
                strong,
                b {
                    color: var(--Text-Title-White-Invert, #fff);
                    font-weight: 500;
                }
            }
        }

        .ei-partner__logos {
            margin-top: 2.37rem;
            max-width: 42.12rem;
            .ei-partner__logos-swiper {
                .ei-partner__logos-grid {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    row-gap: 2.5rem;
                    .ei-partner__logo {
                        filter: brightness(0) saturate(100%) invert(99%) sepia(100%) saturate(0%) hue-rotate(94deg)
                            brightness(101%) contrast(103%);
                        justify-self: center;
                        width: 12.5rem;
                        height: 8.0625rem;
                        object-fit: contain;
                    }
                }
            }

            .ei-partner__logos-swiper-pagination {
                margin-top: 4.56rem;
                .swiper-pagination-bullet {
                    width: 0.5rem;
                    height: 0.5rem;
                    border-radius: 99px;
                    background: #d9d9d9;
                    opacity: 1;
                    transition: width 0.3s ease-out;
                    overflow: hidden;
                }
                .swiper-pagination-bullet.swiper-pagination-bullet-active {
                    border-radius: 99px;
                    background: #fff;
                    width: 2.0625rem;
                }
            }
        }

        .ei-partner__image-wrapper {
            position: absolute;
            bottom: 0;
            right: 8.81rem;
            width: 41.1875rem;
            height: 38.625rem;
            img.ei-partner__image {
                width: 100%;
                height: auto;
            }
        }
    }
}
// Breakpoint max-width 639.98px
@media (max-width: 639.98px) {
    .ei-partner__container {
        background: var(
            --Background-Color-gradient-01,
            linear-gradient(110deg, #7fb546 -60.33%, #cdefb5 -16.36%, #3d9948 20.66%, #053183 101.65%)
        );
        .ei-partner__bg-image-wrapper {
            img.ei-partner__bg-image {
                width: 100%;
                object-fit: cover;
            }
        }

        .ei-partner__wrapper {
            padding: 3.5rem 1rem 0;
            text-align: center;
            height: auto;
            .ei-partner__subtitle {
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 0.9rem */
            }

            .ei-partner__title {
                margin-top: 1rem;
                h2 {
                    font-size: 1.5rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%; /* 1.8rem */
                    letter-spacing: -0.0625rem;
                }
            }

            .ei-partner__logos {
                margin-top: 1.75rem;
                .ei-partner__logos-swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            img {
                                width: 6.3125rem;
                                height: 4.125rem;
                            }
                        }
                    }
                }
            }

            .ei-partner__image-wrapper {
                margin-top: 2rem;
                width: 100%;
                height: auto;
                position: relative;
                bottom: -1.5rem;
                left: 0;
            }
        }
    }
    .ei-partner__container .ei-partner__wrapper .ei-partner__logos .ei-partner__logos-swiper .ei-partner__logos-grid {
        row-gap: 1.5rem;
    }
    .ei-partner__container
        .ei-partner__wrapper
        .ei-partner__logos
        .ei-partner__logos-swiper-pagination
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 0.5rem;
    }
    .ei-partner__container .ei-partner__wrapper .ei-partner__logos .ei-partner__logos-swiper-pagination {
        margin-top: 1.75rem;
    }
    .ei-partner__container .ei-partner__bg-logo-wrapper {
        width: 20.9375rem;
        height: 20.9375rem;
        top: unset;
        bottom: -1rem;
        right: 50%;
        transform: translateX(50%);
    }
    .ei-partner__container .ei-partner__bg-image-wrapper {
        opacity: 0;
    }
}

.other-customers__container {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 7.38rem;
    overflow: hidden;
}
.other-customers__wrapper {
    position: relative;
    max-width: 90rem;
    margin: 0 auto;
    text-align: center;
}
.other-customers {
    &__bg-image-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title {
    }
    &__logos-wrapper {
        margin-top: 2.37rem;
        position: relative;
    }
    &__logos-swiper {
    }
    &__logos-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0.5rem;
    }
    &__logo {
        width: auto;
        height: 3.125rem;
        object-fit: contain;
    }
    &__logo-item {
        height: 11.5625rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        background: linear-gradient(14deg, #fff 76%, #f4c6a2 213.99%, #f4c6a2 263.1%), #fff;
    }
    &__logos-swiper-pagination {
        margin-top: 2.5rem;
        .swiper-pagination-bullet {
            width: 0.5rem;
            height: 0.5rem;
            background: #d9d9d9;
            opacity: 1;
            border-radius: 99px;
            transition: 0.3s ease-in-out;
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active {
            border-radius: 99px;
            width: 2.0625rem;
            height: 0.5rem;
            background: #63a147;
        }
    }
    &__logos-swiper-button-prev {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-100%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        border-radius: 1.584rem;
        background: var(--Button-BG-Button, #f7f7f7);
        transition: 0.3s ease-in-out;
        cursor: pointer;
        svg {
            width: 1.44rem;
            height: 1.44rem;
            object-fit: contain;
            path {
                transition: 0.3s ease-in-out;
            }
        }
    }
    &__logos-swiper-button-next {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(100%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        border-radius: 1.584rem;
        background: var(--Button-BG-Button, #f7f7f7);
        transition: 0.3s ease-in-out;
        svg {
            width: 1.44rem;
            height: 1.44rem;
            object-fit: contain;
            transition: 0.3s ease-in-out;
            path {
                transition: 0.3s ease-in-out;
            }
        }
    }
    &__logos-swiper-button-next:hover,
    &__logos-swiper-button-prev:hover {
        background: var(--Button-Primary, #63a147);
    }
    &__logos-swiper-button-next:hover svg path,
    &__logos-swiper-button-prev:hover svg path {
        stroke: #fff;
    }

    &__logos-swiper-button-next.swiper-button-disabled,
    &__logos-swiper-button-prev.swiper-button-disabled {
        opacity: 0.8;
        cursor: auto;
        pointer-events: none;
    }

    &__logos-swiper-navigation {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
    }
}
@media (max-width: 639.98px) {
    .other-customers__container {
        padding-top: 3.5rem;
    }
    .other-customers__wrapper {
    }
    .other-customers {
        &__title {
        }
        &__logos-wrapper {
            margin-top: 1.25rem;
        }
        &__logos-swiper {
        }
        &__logo-item {
            height: 6.875rem;
            border-radius: var(--6, 0.375rem);
            border: 0.599px solid var(--Input-Background-Disable, #eaeaea);
            background: linear-gradient(14deg, #fff 76%, #f4c6a2 213.99%, #f4c6a2 263.1%), #fff;
        }
        &__logos-grid {
            grid-template-columns: repeat(2, 1fr);
            padding: 0 1rem;
        }
        &__logo {
            height: 1.87263rem;
        }
        &__logos-swiper-pagination {
        }
        &__logos-swiper-button-prev {
        }
        &__logos-swiper-button-next {
        }
        &__logos-swiper-navigation {
        }
    }
}
