.services {
    padding: 3rem;
    background: linear-gradient(to bottom, #56c070, #214f91);
    height: 71.76588rem;
    border-radius: 5rem 5rem 0rem 0rem;
    &__subheading {
        display: block;
        max-width: 90rem;
        margin: 2.62rem auto 1.19rem;
        color: var(--Text-Title-White-Invert, #fff);

        font-size: 0.875rem;
        font-weight: 400;
        line-height: 120%; /* 1.05rem */
        text-transform: uppercase;
    }
    &__heading {
        max-width: 90rem;
        margin: auto;
        margin-bottom: 3.5rem;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: var(--Text-Title-White-Invert, #fff);
        font-size: 3.125rem;
        font-weight: 600;
        line-height: 120%; /* 3.75rem */
        letter-spacing: -0.125rem;
    }
    &__list-nav {
        display: flex;
        &--prev {
            img {
                transform: rotate(180deg);
            }
            margin-right: 0.77rem;
        }
    }
    &__list {
        padding: 0.5rem 0;
        height: 28.4rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 28.5rem;
        width: 100% !important;
        height: 100%;
        background-color: #f6faff;
        padding: var(--32, 2rem) 2.5rem;
        border-radius: var(--10, 0.625rem);
        background: #f6f9ff;
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
        transition: box-shadow 0.3s ease;

        // &:hover {
        //     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        // }
    }

    &__icon {
        margin-bottom: 3.75rem;
        img {
            display: block;
            width: 4.91563rem;
            height: 4.91563rem;
            object-fit: contain;
        }
    }

    &__item-title {
        margin-bottom: 1.5rem;
        h4 {
            color: #0c2246;
        }
    }

    &__item-description {
        margin-bottom: auto;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__link {
        padding-left: 0;
        color: var(--Button-Secondary-Link, #212769);
        img {
            filter: brightness(0) saturate(100%) invert(13%) sepia(21%) saturate(6650%) hue-rotate(224deg)
                brightness(97%) contrast(96%);
        }
    }
    .services__list-pagination {
        display: none;
    }
}

@media screen and (max-width: 639.98px) {
    .services {
        border-radius: 1.5rem;
        padding: 2rem 0 9.125rem 1rem;
        max-height: 38.68rem;
        background: linear-gradient(
            147deg,
            #7fb546 -109.96%,
            #75ae4c -60.46%,
            #63a056 -10.96%,
            #509161 38.54%,
            #053183 88.05%
        );

        &__subheading {
            font-size: 0.875rem;
            margin-top: 0;
            margin-bottom: 0.75rem;
        }
        &__heading {
            text-align: left;
            max-width: 18rem;
            margin: 0;
            margin-bottom: 1rem;
            h2 {
                font-size: 2rem;
            }
        }

        &__title {
        }
        &__list-nav {
            display: none;
            &--prev {
                img {
                }
            }
        }
        &__list {
            height: 17.5rem;
        }

        &__item {
            padding: 1rem;
            // max-width: 19.375rem;
        }

        &__icon {
            margin-bottom: 0.5rem;
            img {
                width: 3.75rem;
                height: 3.75rem;
            }
        }

        &__item-title {
            margin-bottom: 0.5rem;
            h4 {
                font-size: 1.125rem;
                font-weight: 500;
                line-height: 120%; /* 1.35rem */
                letter-spacing: -0.0625rem;
            }
        }

        &__item-description {
            font-size: 0.875rem;
            line-height: 150%; /* 1.3125rem */
        }

        &__link {
            font-size: 0.875rem;
            img {
                width: 1.25rem;
                height: 1.25rem;
            }
            &::after {
                width: 0.0625rem;
                height: 1.05906rem;
                right: 2.5rem;
            }
        }
        .services__list-pagination {
            display: block;
            position: relative;
            --swiper-pagination-bottom: -1.5rem;
            --swiper-pagination-bullet-inactive-opacity: 0.4;
            --swiper-pagination-bullet-inactive-color: #fff;
            --swiper-pagination-color: #fff;
            --swiper-pagination-bullet-size: 0.5rem;
        }
    }
}
