<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../assets/reset.css" />
        <link rel="stylesheet" href="../assets/global.css" />
        <link rel="stylesheet" href="./assets/styles.css" />
        <title>Document</title>
    </head>
    <body style="">
        <section>
            <div class="card-blog-layout-2__tabs">
                <button class="active card-blog-layout-2__tabs--btn">
                    Country information
                </button>
                <button class="card-blog-layout-2__tabs--btn">
                    Finance and scholarships
                </button>
            </div>
        </section>
        <section tabName="card-blog-layout-2__tabs">
            <div class="card-blog-layout-2 card-blog-layout-2--under">
                <div class="card-blog-layout-2__image">
                    <img src="./assets/images/image.png" alt="" />
                </div>
                <div class="card-blog-layout-2__content">
                    <div class="card-blog-layout-2__category">
                        <span>Germany</span>
                    </div>
                    <div class="card-blog-layout-2__date">
                        <img src="../assets/image/calendar.svg" alt="" />
                        <span>23/4/2023</span>
                    </div>
                    <h5 class="card-blog-layout-2__title">
                        Finally Policy for vocational study in Germany applied
                        from July 27,2024 at EI Group
                    </h5>
                </div>
                <!-- <a href="#" class="card-blog-layout-2__link"></a> -->
            </div>
            <div class="card-blog-layout-2 card-blog-layout-2--under">
                <div class="card-blog-layout-2__image">
                    <img src="./assets/images/image.png" alt="" />
                </div>
                <div class="card-blog-layout-2__content">
                    <div class="card-blog-layout-2__category">
                        <span>Germany</span>
                    </div>
                    <div class="card-blog-layout-2__date">
                        <img src="../assets/image/calendar.svg" alt="" />
                        <span>23/4/2023</span>
                    </div>
                    <h5 class="card-blog-layout-2__title">
                        Finally Policy for vocational study in Germany applied
                        from July 27,2024 at EI Group
                    </h5>
                </div>
                <!-- <a href="#" class="card-blog-layout-2__link"></a> -->
            </div>
        </section>
        <section tabName="card-blog-layout-2__tabs" hidden>
            <div class="card-blog-layout-2 card-blog-layout-2--under">
                <div class="card-blog-layout-2__image">
                    <img src="./assets/images/image.png" alt="" />
                </div>
                <div class="card-blog-layout-2__content">
                    <div class="card-blog-layout-2__category">
                        <span>Germany</span>
                    </div>
                    <div class="card-blog-layout-2__date">
                        <img src="../assets/image/calendar.svg" alt="" />
                        <span>23/4/2023</span>
                    </div>
                    <h5 class="card-blog-layout-2__title">
                        Finally Policy for vocational study in Germany applied
                        from July 27,2024 at EI Group
                    </h5>
                </div>
                <!-- <a href="#" class="card-blog-layout-2__link"></a> -->
            </div>
            <div class="card-blog-layout-2 card-blog-layout-2--under">
                <div class="card-blog-layout-2__image">
                    <img src="./assets/images/image.png" alt="" />
                </div>
                <div class="card-blog-layout-2__content">
                    <div class="card-blog-layout-2__category">
                        <span>Germany</span>
                    </div>
                    <div class="card-blog-layout-2__date">
                        <img src="../assets/image/calendar.svg" alt="" />
                        <span>23/4/2023</span>
                    </div>
                    <h5 class="card-blog-layout-2__title">
                        Finally Policy for vocational study in Germany applied
                        from July 27,2024 at EI Group
                    </h5>
                </div>
                <!-- <a href="#" class="card-blog-layout-2__link"></a> -->
            </div>
        </section>
        <section style="margin-top: 1rem">
            <div class="card-blog-layout-2__tab">
                <span class="card-blog-layout-2__tab--text"
                    >Country information</span
                >
            </div>
        </section>
    </body>
</html>
