<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="../assets/global.css" />
        <link rel="stylesheet" href="./assets/styles.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        />

        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <section class="visa-study-abroad__container">
            <div class="heading">
                <h2>Visa and study abroad documents</h2>
            </div>
            <div class="visa-study-abroad__wrapper">
                <div class="swiper visa-study-abroad__swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a class="visa-abroad">
                                <div
                                    class="visa-abroad__img visa-abroad__img--hover"
                                >
                                    <img
                                        src="./assets/images/Rectangle 34626862.png"
                                        alt=""
                                    />
                                </div>
                                <div class="visa-abroad__img">
                                    <iframe
                                        class="tiktokPlayer"
                                        src="https://www.tiktok.com/player/v1/6718335390845095173?music_info=0&description=0&controls=0&progress_bar=0&play_button=0&volume_control=0&fullscreen_button=0&timestamp=0&loop=1&autoplay=0&rel=0&native_context_menu=0&closed_caption=0"
                                        width="325"
                                        height="578"
                                    ></iframe>
                                </div>
                                <div class="visa-abroad__overlay"></div>
                                <div class="visa-abroad__content">
                                    <span class="visa-abroad__content--subtitle"
                                        >Visas</span
                                    >
                                    <h5 class="visa-abroad__content--title">
                                        Step-by-Step Guide and Types of Student
                                        Visas
                                    </h5>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="visa-abroad">
                                <div
                                    class="visa-abroad__img visa-abroad__img--hover"
                                >
                                    <img
                                        src="./assets/images/Rectangle 34626862.png"
                                        alt=""
                                    />
                                </div>
                                <div class="visa-abroad__img">
                                    <iframe
                                        class="tiktokPlayer"
                                        src="https://www.tiktok.com/player/v1/6718335390845095173?music_info=0&description=0&controls=0&progress_bar=0&play_button=0&volume_control=0&fullscreen_button=0&timestamp=0&loop=1&autoplay=0&rel=0&native_context_menu=0&closed_caption=0"
                                        width="325"
                                        height="578"
                                    ></iframe>
                                </div>
                                <div class="visa-abroad__overlay"></div>
                                <div class="visa-abroad__content">
                                    <span class="visa-abroad__content--subtitle"
                                        >Visas</span
                                    >
                                    <h5 class="visa-abroad__content--title">
                                        Step-by-Step Guide and Types of Student
                                        Visas
                                    </h5>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="visa-abroad">
                                <div
                                    class="visa-abroad__img visa-abroad__img--hover"
                                >
                                    <img
                                        src="./assets/images/Rectangle 34626862.png"
                                        alt=""
                                    />
                                </div>
                                <div class="visa-abroad__img">
                                    <iframe
                                        class="tiktokPlayer"
                                        src="https://www.tiktok.com/player/v1/6718335390845095173?music_info=0&description=0&controls=0&progress_bar=0&play_button=0&volume_control=0&fullscreen_button=0&timestamp=0&loop=1&autoplay=0&rel=0&native_context_menu=0&closed_caption=0"
                                        width="325"
                                        height="578"
                                    ></iframe>
                                </div>
                                <div class="visa-abroad__overlay"></div>
                                <div class="visa-abroad__content">
                                    <span class="visa-abroad__content--subtitle"
                                        >Visas</span
                                    >
                                    <h5 class="visa-abroad__content--title">
                                        Step-by-Step Guide and Types of Student
                                        Visas
                                    </h5>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="visa-abroad">
                                <div
                                    class="visa-abroad__img visa-abroad__img--hover"
                                >
                                    <img
                                        src="./assets/images/Rectangle 34626862.png"
                                        alt=""
                                    />
                                </div>
                                <div class="visa-abroad__img">
                                    <iframe
                                        class="tiktokPlayer"
                                        src="https://www.tiktok.com/player/v1/6718335390845095173?music_info=0&description=0&controls=0&progress_bar=0&play_button=0&volume_control=0&fullscreen_button=0&timestamp=0&loop=1&autoplay=0&rel=0&native_context_menu=0&closed_caption=0"
                                        width="325"
                                        height="578"
                                    ></iframe>
                                </div>
                                <div class="visa-abroad__overlay"></div>
                                <div class="visa-abroad__content">
                                    <span class="visa-abroad__content--subtitle"
                                        >Visas</span
                                    >
                                    <h5 class="visa-abroad__content--title">
                                        Step-by-Step Guide and Types of Student
                                        Visas
                                    </h5>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="visa-abroad">
                                <div
                                    class="visa-abroad__img visa-abroad__img--hover"
                                >
                                    <img
                                        src="./assets/images/Rectangle 34626862.png"
                                        alt=""
                                    />
                                </div>
                                <div class="visa-abroad__img">
                                    <iframe
                                        class="tiktokPlayer"
                                        src="https://www.tiktok.com/player/v1/6718335390845095173?music_info=0&description=0&controls=0&progress_bar=0&play_button=0&volume_control=0&fullscreen_button=0&timestamp=0&loop=1&autoplay=0&rel=0&native_context_menu=0&closed_caption=0"
                                        width="325"
                                        height="578"
                                    ></iframe>
                                </div>
                                <div class="visa-abroad__overlay"></div>
                                <div class="visa-abroad__content">
                                    <span class="visa-abroad__content--subtitle"
                                        >Visas</span
                                    >
                                    <h5 class="visa-abroad__content--title">
                                        Step-by-Step Guide and Types of Student
                                        Visas
                                    </h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="visa-study-abroad__navigation">
                    <button
                        class="visa-study-abroad__btn visa-study-abroad__btn--prev"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="25"
                            height="25"
                            viewBox="0 0 25 25"
                            fill="none"
                        >
                            <path
                                d="M15.5 5.5L8.5 12.5L15.5 19.5"
                                stroke="#A9A9A9"
                                stroke-width="1.71429"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                    <button
                        class="visa-study-abroad__btn visa-study-abroad__btn--next"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="25"
                            height="25"
                            viewBox="0 0 25 25"
                            fill="none"
                        >
                            <path
                                d="M9.5 5.5L16.5 12.5L9.5 19.5"
                                stroke="#A9A9A9"
                                stroke-width="1.71429"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </button>
                </div>
            </div>
            <!-- Repeat the same structure as needed -->
        </section>

        <script>
            function remToPixels(rem) {
                return (
                    rem *
                    parseFloat(
                        getComputedStyle(document.documentElement).fontSize
                    )
                );
            }
            new Swiper(".visa-study-abroad__swiper", {
                slidesPerView: "auto",
                spaceBetween: remToPixels(1),
                navigation: {
                    nextEl: ".visa-study-abroad__navigation .visa-study-abroad__btn--next",
                    prevEl: ".visa-study-abroad__navigation .visa-study-abroad__btn--prev",
                },
                breakpoints: {
                    640: {
                        slidesPerView: 4,
                        spaceBetween: remToPixels(1.25),
                    },
                },
            });
            // Lắng nghe các tin nhắn từ iframe
            window.addEventListener("message", (event) => {
                if (event.origin !== "https://www.tiktok.com") return;

                if (event.data.type === "onPlayerReady") {
                    sendMessageToIframe(event.source, "mute"); // Tắt tiếng khi iframe sẵn sàng
                }
            });

            // Hàm gửi tin nhắn đến iframe cụ thể
            function sendMessageToIframe(iframeWindow, action, value = null) {
                const message = { type: action, "x-tiktok-player": true };
                if (value !== null) message.value = value;

                iframeWindow.postMessage(message, "https://www.tiktok.com");
            }

            // Điều chỉnh âm lượng cho tất cả iframe (ví dụ khi có yêu cầu thay đổi âm lượng)
            function changeVolume(volume) {
                document.querySelectorAll(".tiktokPlayer").forEach((iframe) => {
                    sendMessageToIframe(
                        iframe.contentWindow,
                        "changeVolume",
                        volume
                    );
                });
                console.log(`Gửi yêu cầu thay đổi âm lượng đến ${volume}%`);
            }

            // Xử lý sự kiện hover cho các phần tử "visa-abroad"
            document
                .querySelectorAll(".visa-abroad")
                .forEach((visaAbroadEl) => {
                    const visaAbroadImageEl = visaAbroadEl.querySelector(
                        ".visa-abroad__img--hover"
                    );
                    const iframe = visaAbroadEl.querySelector(".tiktokPlayer");

                    visaAbroadEl.addEventListener("mouseover", () => {
                        visaAbroadImageEl.style.opacity = "0";
                        visaAbroadImageEl.style.visibility = "hidden";
                        sendMessageToIframe(iframe.contentWindow, "play"); // Chỉ phát iframe trong item hiện tại
                    });

                    visaAbroadEl.addEventListener("mouseout", () => {
                        visaAbroadImageEl.style.opacity = null;
                        visaAbroadImageEl.style.visibility = null;
                        sendMessageToIframe(iframe.contentWindow, "pause"); // Chỉ dừng iframe trong item hiện tại
                    });
                });
        </script>
    </body>
</html>
