.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}
.collapsing.collapse-horizontal {
  width: 0;
  height: auto;
  transition: width 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing.collapse-horizontal {
    transition: none;
  }
}

.offcanvas, .offcanvas-xxl, .offcanvas-xl, .offcanvas-lg, .offcanvas-md, .offcanvas-sm {
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 400px;
  --bs-offcanvas-height: 30vh;
  --bs-offcanvas-padding-x: 1rem;
  --bs-offcanvas-padding-y: 1rem;
  --bs-offcanvas-color: var(--bs-body-color);
  --bs-offcanvas-bg: var(--bs-body-bg);
  --bs-offcanvas-border-width: var(--bs-border-width);
  --bs-offcanvas-border-color: var(--bs-border-color-translucent);
  --bs-offcanvas-box-shadow: var(--bs-box-shadow-sm);
  --bs-offcanvas-transition: transform 0.3s ease-in-out;
  --bs-offcanvas-title-line-height: 1.5;
}

@media (max-width: 575.98px) {
  .offcanvas-sm {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition);
  }
}
@media (max-width: 575.98px) and (prefers-reduced-motion: reduce) {
  .offcanvas-sm {
    transition: none;
  }
}
@media (max-width: 575.98px) {
  .offcanvas-sm.offcanvas-start {
    top: 0;
    left: 0;
    width: var(--bs-offcanvas-width);
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
  }
  .offcanvas-sm.offcanvas-end {
    top: 0;
    right: 0;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
  }
  .offcanvas-sm.offcanvas-top {
    top: 0;
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(-100%);
  }
  .offcanvas-sm.offcanvas-bottom {
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(100%);
  }
  .offcanvas-sm.showing, .offcanvas-sm.show:not(.hiding) {
    transform: none;
  }
  .offcanvas-sm.showing, .offcanvas-sm.hiding, .offcanvas-sm.show {
    visibility: visible;
  }
}
@media (min-width: 576px) {
  .offcanvas-sm {
    --bs-offcanvas-height: auto;
    --bs-offcanvas-border-width: 0;
    background-color: transparent !important;
  }
  .offcanvas-sm .offcanvas-header {
    display: none;
  }
  .offcanvas-sm .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
    background-color: transparent !important;
  }
}

@media (max-width: 767.98px) {
  .offcanvas-md {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition);
  }
}
@media (max-width: 767.98px) and (prefers-reduced-motion: reduce) {
  .offcanvas-md {
    transition: none;
  }
}
@media (max-width: 767.98px) {
  .offcanvas-md.offcanvas-start {
    top: 0;
    left: 0;
    width: var(--bs-offcanvas-width);
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
  }
  .offcanvas-md.offcanvas-end {
    top: 0;
    right: 0;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
  }
  .offcanvas-md.offcanvas-top {
    top: 0;
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(-100%);
  }
  .offcanvas-md.offcanvas-bottom {
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(100%);
  }
  .offcanvas-md.showing, .offcanvas-md.show:not(.hiding) {
    transform: none;
  }
  .offcanvas-md.showing, .offcanvas-md.hiding, .offcanvas-md.show {
    visibility: visible;
  }
}
@media (min-width: 768px) {
  .offcanvas-md {
    --bs-offcanvas-height: auto;
    --bs-offcanvas-border-width: 0;
    background-color: transparent !important;
  }
  .offcanvas-md .offcanvas-header {
    display: none;
  }
  .offcanvas-md .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
    background-color: transparent !important;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-lg {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition);
  }
}
@media (max-width: 991.98px) and (prefers-reduced-motion: reduce) {
  .offcanvas-lg {
    transition: none;
  }
}
@media (max-width: 991.98px) {
  .offcanvas-lg.offcanvas-start {
    top: 0;
    left: 0;
    width: var(--bs-offcanvas-width);
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
  }
  .offcanvas-lg.offcanvas-end {
    top: 0;
    right: 0;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
  }
  .offcanvas-lg.offcanvas-top {
    top: 0;
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(-100%);
  }
  .offcanvas-lg.offcanvas-bottom {
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(100%);
  }
  .offcanvas-lg.showing, .offcanvas-lg.show:not(.hiding) {
    transform: none;
  }
  .offcanvas-lg.showing, .offcanvas-lg.hiding, .offcanvas-lg.show {
    visibility: visible;
  }
}
@media (min-width: 992px) {
  .offcanvas-lg {
    --bs-offcanvas-height: auto;
    --bs-offcanvas-border-width: 0;
    background-color: transparent !important;
  }
  .offcanvas-lg .offcanvas-header {
    display: none;
  }
  .offcanvas-lg .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
    background-color: transparent !important;
  }
}

@media (max-width: 1199.98px) {
  .offcanvas-xl {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition);
  }
}
@media (max-width: 1199.98px) and (prefers-reduced-motion: reduce) {
  .offcanvas-xl {
    transition: none;
  }
}
@media (max-width: 1199.98px) {
  .offcanvas-xl.offcanvas-start {
    top: 0;
    left: 0;
    width: var(--bs-offcanvas-width);
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
  }
  .offcanvas-xl.offcanvas-end {
    top: 0;
    right: 0;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
  }
  .offcanvas-xl.offcanvas-top {
    top: 0;
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(-100%);
  }
  .offcanvas-xl.offcanvas-bottom {
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(100%);
  }
  .offcanvas-xl.showing, .offcanvas-xl.show:not(.hiding) {
    transform: none;
  }
  .offcanvas-xl.showing, .offcanvas-xl.hiding, .offcanvas-xl.show {
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .offcanvas-xl {
    --bs-offcanvas-height: auto;
    --bs-offcanvas-border-width: 0;
    background-color: transparent !important;
  }
  .offcanvas-xl .offcanvas-header {
    display: none;
  }
  .offcanvas-xl .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
    background-color: transparent !important;
  }
}

@media (max-width: 1399.98px) {
  .offcanvas-xxl {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition);
  }
}
@media (max-width: 1399.98px) and (prefers-reduced-motion: reduce) {
  .offcanvas-xxl {
    transition: none;
  }
}
@media (max-width: 1399.98px) {
  .offcanvas-xxl.offcanvas-start {
    top: 0;
    left: 0;
    width: var(--bs-offcanvas-width);
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
  }
  .offcanvas-xxl.offcanvas-end {
    top: 0;
    right: 0;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
  }
  .offcanvas-xxl.offcanvas-top {
    top: 0;
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(-100%);
  }
  .offcanvas-xxl.offcanvas-bottom {
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
    border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(100%);
  }
  .offcanvas-xxl.showing, .offcanvas-xxl.show:not(.hiding) {
    transform: none;
  }
  .offcanvas-xxl.showing, .offcanvas-xxl.hiding, .offcanvas-xxl.show {
    visibility: visible;
  }
}
@media (min-width: 1400px) {
  .offcanvas-xxl {
    --bs-offcanvas-height: auto;
    --bs-offcanvas-border-width: 0;
    background-color: transparent !important;
  }
  .offcanvas-xxl .offcanvas-header {
    display: none;
  }
  .offcanvas-xxl .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
    background-color: transparent !important;
  }
}

.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: var(--bs-offcanvas-zindex);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: var(--bs-offcanvas-color);
  visibility: hidden;
  background-color: var(--bs-offcanvas-bg);
  background-clip: padding-box;
  outline: 0;
  transition: var(--bs-offcanvas-transition);
}
@media (prefers-reduced-motion: reduce) {
  .offcanvas {
    transition: none;
  }
}
.offcanvas.offcanvas-start {
  top: 0;
  left: 0;
  width: var(--bs-offcanvas-width);
  border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  transform: translateX(-100%);
}
.offcanvas.offcanvas-end {
  top: 0;
  right: 0;
  width: var(--bs-offcanvas-width);
  border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  transform: translateX(100%);
}
.offcanvas.offcanvas-top {
  top: 0;
  right: 0;
  left: 0;
  height: var(--bs-offcanvas-height);
  max-height: 100%;
  border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  transform: translateY(-100%);
}
.offcanvas.offcanvas-bottom {
  right: 0;
  left: 0;
  height: var(--bs-offcanvas-height);
  max-height: 100%;
  border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  transform: translateY(100%);
}
.offcanvas.showing, .offcanvas.show:not(.hiding) {
  transform: none;
}
.offcanvas.showing, .offcanvas.hiding, .offcanvas.show {
  visibility: visible;
}

.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.offcanvas-backdrop.fade {
  opacity: 0;
}
.offcanvas-backdrop.show {
  opacity: 0.5;
}

.offcanvas-header {
  display: flex;
  align-items: center;
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
}
.offcanvas-header .btn-close {
  padding: calc(var(--bs-offcanvas-padding-y) * 0.5) calc(var(--bs-offcanvas-padding-x) * 0.5);
  margin: calc(-0.5 * var(--bs-offcanvas-padding-y)) calc(-0.5 * var(--bs-offcanvas-padding-x)) calc(-0.5 * var(--bs-offcanvas-padding-y)) auto;
}

.offcanvas-title {
  margin-bottom: 0;
  line-height: var(--bs-offcanvas-title-line-height);
}

.offcanvas-body {
  flex-grow: 1;
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
  overflow-y: auto;
}

.accordion {
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-bg: var(--bs-body-bg);
  --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: var(--bs-border-width);
  --bs-accordion-border-radius: var(--bs-border-radius);
  --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23052c65' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: var(--bs-primary-text-emphasis);
  --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1rem;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: var(--bs-accordion-btn-bg);
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    transition: none;
  }
}
.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: var(--bs-accordion-active-bg);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}
.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button::after {
    transition: none;
  }
}
.accordion-button:hover {
  z-index: 2;
}
.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item {
  color: var(--bs-accordion-color);
  background-color: var(--bs-accordion-bg);
  border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
.accordion-item:first-of-type {
  border-top-left-radius: var(--bs-accordion-border-radius);
  border-top-right-radius: var(--bs-accordion-border-radius);
}
.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-top-left-radius: var(--bs-accordion-inner-border-radius);
  border-top-right-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-item:not(:first-of-type) {
  border-top: 0;
}
.accordion-item:last-of-type {
  border-bottom-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius);
}
.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
  border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-item:last-of-type > .accordion-collapse {
  border-bottom-right-radius: var(--bs-accordion-border-radius);
  border-bottom-left-radius: var(--bs-accordion-border-radius);
}

.accordion-body {
  padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
}

.accordion-flush > .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.accordion-flush > .accordion-item:first-child {
  border-top: 0;
}
.accordion-flush > .accordion-item:last-child {
  border-bottom: 0;
}
.accordion-flush > .accordion-item > .accordion-header .accordion-button, .accordion-flush > .accordion-item > .accordion-header .accordion-button.collapsed {
  border-radius: 0;
}
.accordion-flush > .accordion-item > .accordion-collapse {
  border-radius: 0;
}

[data-bs-theme=dark] .accordion-button::after {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif !important;
}

:root {
  --init-font-size: 1vw;
  /* Greyscale */
  --grey-0: #ffffff;
  --grey-50: #efefef;
  --grey-100: #cccccc;
  --grey-200: #b4b4b4;
  --grey-300: #929292;
  --grey-400: #7d7d7d;
  --grey-500: #5c5c5c;
  --grey-600: #545454;
  --grey-700: #414141;
  --grey-800: #333333;
  --grey-900: #272727;
  /* Red */
  --red-50: #fbe8e9;
  --red-100: #f2b9bb;
  --red-200: #ec979a;
  --red-300: #e3676c;
  --red-400: #dd4950;
  --red-500: #d51c24;
  --red-600: #c21921;
  --red-700: #97141a;
  --red-800: #750f14;
  --red-900: #590c0f;
  /* Green */
  --green-50: #e6f6ee;
  --green-100: #b0e3c9;
  --green-200: #8ad6af;
  --green-300: #54c38a;
  --green-400: #33b873;
  --green-500: #00a650;
  --green-600: #009749;
  --green-700: #007639;
  --green-800: #005b2c;
  --green-900: #004622;
  /* Green (success) */
  --success-50: #e7fbed;
  --success-100: #b5f1c7;
  --success-200: #91eaab;
  --success-300: #5ee185;
  --success-400: #3fdb6d;
  --success-500: #0fd249;
  --success-600: #0ebf42;
  --success-700: #0b9534;
  --success-800: #087428;
  --success-900: #06581f;
  /* Yellow (warning) */
  --warning-50: #fdf7e6;
  --warning-100: #f8e5b2;
  --warning-200: #f5d98d;
  --warning-300: #f0c759;
  --warning-400: #edbd39;
  --warning-500: #e9ac07;
  --warning-600: #d49d06;
  --warning-700: #a57a05;
  --warning-800: #805f04;
  --warning-900: #624803;
  /* Red (error) */
  --error-50: #fce8e6;
  --error-100: #f5b7b0;
  --error-200: #f1948a;
  --error-300: #ea6354;
  --error-400: #e64533;
  --error-500: #e01600;
  --error-500: #e01600;
  --error-600: #cc1400;
  --error-700: #9f1000;
  --error-800: #7b0c00;
  --error-900: #5e0900;
  /* Background (Example) */
  ---white-0: #ffffff;
  ---white-100: #fafafa;
  ---white-200: #eaeaea;
  ---white-300: #f5f5f5;
  ---white-500: #f0f0f0;
  ---white-500-1: #eaeaea;
  /* linear */
  --G1: linear-gradient(180deg, #3bbcb7 0%, #c8fffd 100%);
  --G2: linear-gradient(180deg, #3bbcb7 0%, #8cfffb 100%);
  /* spacing */
  --1: 0.0625rem;
  --2: 0.125rem;
  --3: 0.1875rem;
  --4: 0.25rem;
  --5: 0.3125rem;
  --6: 0.375rem;
  --7: 0.4375rem;
  --8: 0.5rem;
  --9: 0.5625rem;
  --10: 0.625rem;
  --11: 0.6875rem;
  --12: 0.75rem;
  --13: 0.8125rem;
  --14: 0.875rem;
  --15: 0.9375rem;
  --16: 1rem;
  --17: 1.0625rem;
  --18: 1.125rem;
  --19: 1.1875rem;
  --20: 1.25rem;
  --21: 1.3125rem;
  --22: 1.375rem;
  --23: 1.4375rem;
  --24: 1.5rem;
  --25: 1.5625rem;
  --26: 1.625rem;
  --27: 1.6875rem;
  --28: 1.75rem;
  --29: 1.8125rem;
  --30: 1.875rem;
  --31: 1.9375rem;
  --32: 2rem;
  --33: 2.0625rem;
  --34: 2.125rem;
  --35: 2.1875rem;
  --36: 2.25rem;
  --37: 2.3125rem;
  --38: 2.375rem;
  --39: 2.4375rem;
  --40: 2.5rem;
  --41: 2.5625rem;
  --42: 2.625rem;
  --43: 2.6875rem;
  --44: 2.75rem;
  --45: 2.8125rem;
  --46: 2.875rem;
  --47: 2.9375rem;
  --48: 3rem;
  --49: 3.0625rem;
  --50: 3.125rem;
  --51: 3.1875rem;
  --52: 3.25rem;
  --53: 3.3125rem;
  --54: 3.375rem;
  --55: 3.4375rem;
  --56: 3.5rem;
  --57: 3.5625rem;
  --58: 3.625rem;
  --59: 3.6875rem;
  --60: 3.75rem;
  --61: 3.8125rem;
  --62: 3.875rem;
  --63: 3.9375rem;
  --64: 4rem;
  --65: 4.0625rem;
  --66: 4.125rem;
  --67: 4.1875rem;
  --68: 4.25rem;
  --69: 4.3125rem;
  --70: 4.375rem;
  --71: 4.4375rem;
  --72: 4.5rem;
  --73: 4.5625rem;
  --74: 4.625rem;
  --75: 4.6875rem;
  --76: 4.75rem;
  --77: 4.8125rem;
  --78: 4.875rem;
  --79: 4.9375rem;
  --80: 5rem;
  --81: 5.0625rem;
  --82: 5.125rem;
  --83: 5.1875rem;
  --84: 5.25rem;
  --85: 5.3125rem;
  --86: 5.375rem;
  --87: 5.4375rem;
  --88: 5.5rem;
  --89: 5.5625rem;
  --90: 5.625rem;
  --91: 5.6875rem;
  --92: 5.75rem;
  --93: 5.8125rem;
  --94: 5.875rem;
  --95: 5.9375rem;
  --96: 6rem;
  --97: 6.0625rem;
  --98: 6.125rem;
  --99: 6.1875rem;
  --100: 6.25rem;
}

html {
  font-size: var(--init-font-size);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  position: relative;
}

a {
  display: block;
}

.section-bg-img,
.section-bg,
.section-deco {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.swiper-slide,
.swiper-slide img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* NOTE: CUSTOM CODE */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn {
  position: relative;
  font-size: var(--16);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.01rem;
  text-transform: capitalize;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: var(--32, 2rem);
  transition: 0.3s ease;
  color: var(---white-0);
  padding: var(--12) var(--16) var(--12) var(--24);
}
.btn::after {
  content: "";
  position: absolute;
  display: block;
  width: var(--1);
  height: var(--17);
  background: rgba(255, 255, 255, 0.1);
  top: 50%;
  transform: translateY(-50%);
  right: var(--48);
}
.btn--l {
  padding: var(--16) var(--16) var(--16) var(--24);
}
.btn__primary, .btn__outline, .btn__secondary {
  background: linear-gradient(90deg, rgb(99, 161, 71) 0%, rgb(99, 161, 71) 100%);
  color: var(---white-0);
  position: relative;
}
.btn__primary::after, .btn__outline::after, .btn__secondary::after {
  content: "";
  position: absolute;
  display: block;
  width: var(--1);
  height: var(--17);
  background: rgba(255, 255, 255, 0.1);
  top: 50%;
  transform: translateY(-50%);
  right: var(--48);
}
.btn__primary:hover, .btn__outline:hover, .btn__secondary:hover {
  background: linear-gradient(91deg, #282d93 1.33%, #2d7675 33.95%, #509161 77.44%, #63a056 120.93%, #75ae4c 164.42%, #7fb546 207.91%);
  box-shadow: var(--34) var(--45) var(--16) 0px rgba(14, 38, 108, 0), var(--22) var(--29) var(--15) 0px rgba(14, 38, 108, 0.03), var(--12) var(--16) var(--12) 0px rgba(14, 38, 108, 0.11), var(--5) var(--7) var(--9) 0px rgba(14, 38, 108, 0.18), var(--1) var(--2) var(--5) 0px rgba(14, 38, 108, 0.21);
}
.btn__secondary {
  background: linear-gradient(90deg, #212769 0%, #212769 100%);
}
.btn__outline {
  background: transparent;
  color: #212769;
  border: var(--1) solid var(--Button-Secondary-Link, #212769);
}
.btn__outline:hover {
  background: var(---white-0);
  box-shadow: var(--34) var(--45) var(--16) 0px rgba(14, 38, 108, 0), var(--22) var(--29) var(--15) 0px rgba(14, 38, 108, 0.03), var(--12) var(--16) var(--12) 0px rgba(14, 38, 108, 0.11), var(--5) var(--7) var(--9) 0px rgba(14, 38, 108, 0.18), var(--1) var(--2) var(--5) 0px rgba(14, 38, 108, 0.21);
}
.btn__outline img {
  filter: brightness(0) saturate(100%) invert(14%) sepia(65%) saturate(2124%) hue-rotate(223deg) brightness(83%) contrast(97%);
}
.btn__tertiary {
  color: var(--Text-Input-Text-Input, #4b4954);
  position: relative;
}
.btn__tertiary::after {
  content: "";
  position: absolute;
  display: block;
  width: var(--1);
  height: var(--17);
  opacity: 0.4;
  background: #212769;
  top: 50%;
  transform: translateY(-50%);
  right: var(--48);
}
.btn__tertiary img {
  filter: brightness(0) saturate(100%) invert(28%) sepia(7%) saturate(772%) hue-rotate(211deg) brightness(92%) contrast(89%);
}
.btn__tertiary:hover {
  color: #212769;
}
.btn__tertiary:hover img {
  filter: brightness(0) saturate(100%) invert(14%) sepia(65%) saturate(2124%) hue-rotate(223deg) brightness(83%) contrast(97%);
}
.btn__disabled {
  background: var(--Interaction-Disable-BG, #c2c4c6);
  pointer-events: none;
}
.btn__disabled:hover {
  background: var(--Interaction-Disable-BG, #c2c4c6);
  box-shadow: none !important;
}
.btn img {
  margin-left: var(--20);
  display: block;
  width: var(--24);
  height: var(--24);
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.3s ease;
}
.btn--icon, .btn--icon-outline {
  padding: 0;
  width: var(--48);
  height: var(--48);
  justify-content: center;
  background: #ffffff;
}
.btn--icon img, .btn--icon-outline img {
  margin: 0;
  width: var(--23);
  height: var(--23);
  filter: brightness(0) saturate(100%) invert(78%) sepia(16%) saturate(0%) hue-rotate(168deg) brightness(88%) contrast(79%);
}
.btn--icon:hover, .btn--icon-outline:hover {
  background: #63a147;
}
.btn--icon:hover img, .btn--icon-outline:hover img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(100%) contrast(104%);
}
.btn--icon::after, .btn--icon-outline::after {
  display: none;
}
.btn--icon.btn--l, .btn--l.btn--icon-outline {
  width: var(--56);
  height: var(--56);
}
.btn--icon.btn--l img, .btn--l.btn--icon-outline img {
  margin: 0;
  width: var(--28);
  height: var(--28);
}
.btn--icon-outline {
  border: var(--1) solid var(---white-0);
  background: transparent;
}
.btn--icon-outline img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(100%) contrast(104%);
}
.btn--icon-outline:hover {
  background: #fff;
  box-shadow: var(--34) var(--45) var(--16) 0px rgba(14, 38, 108, 0), var(--22) var(--29) var(--15) 0px rgba(14, 38, 108, 0.03), var(--12) var(--16) var(--12) 0px rgba(14, 38, 108, 0.11), var(--5) var(--7) var(--9) 0px rgba(14, 38, 108, 0.18), var(--1) var(--2) var(--5) 0px rgba(14, 38, 108, 0.21);
}
.btn--icon-outline:hover img {
  filter: brightness(0) saturate(100%) invert(10%) sepia(53%) saturate(3573%) hue-rotate(230deg) brightness(102%) contrast(93%);
}

@media (max-width: 639.98px) {
  :root {
    --init-font-size: 4.2667vw;
  }
}
.be-vietnam-pro-thin {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.be-vietnam-pro-extralight {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.be-vietnam-pro-light {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.be-vietnam-pro-regular {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.be-vietnam-pro-medium {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.be-vietnam-pro-semibold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.be-vietnam-pro-bold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.be-vietnam-pro-extrabold {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.be-vietnam-pro-black {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.be-vietnam-pro-thin-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.be-vietnam-pro-extralight-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.be-vietnam-pro-light-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.be-vietnam-pro-regular-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.be-vietnam-pro-medium-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.be-vietnam-pro-semibold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.be-vietnam-pro-bold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.be-vietnam-pro-extrabold-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.be-vietnam-pro-black-italic {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.heading h1 {
  color: #212769;
  font-size: var(--64);
  font-weight: 600;
  line-height: 110%; /* 70.4px */
  letter-spacing: calc(var(--2) * -1);
}
.heading h2 {
  color: var(--Text-Title-Blue-212769, #212769);
  font-size: var(--50);
  font-weight: 600;
  line-height: 120%;
  letter-spacing: calc(var(--2) * -1);
}
.heading h4 {
  font-size: var(--24);
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
  letter-spacing: calc(var(--1) * -1);
}
.heading b,
.heading strong {
  font-weight: inherit;
  background: var(--Gradient-Green-Main, linear-gradient(93deg, #7fb546 -12.23%, #75ae4c 10.09%, #63a056 32.42%, #509161 54.74%, #2d7675 77.07%, #282d93 93.81%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 639.98px) {
  .heading h1 {
    font-size: var(--40);
  }
  .heading h2 {
    font-size: var(--32);
  }
  .heading h4 {
    font-size: var(--20);
  }
}
.paragraph {
  color: #4b4954;
  font-size: var(--18);
  font-weight: 400;
  line-height: 170%; /* 30.6px */
  letter-spacing: -0.045rem;
}

.sub-heading {
  width: -moz-fit-content;
  width: fit-content;
  font-size: var(--14);
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;
  background: linear-gradient(71deg, #7fb546 8.81%, #75ae4c 24.48%, #63a056 40.14%, #509161 55.81%, #2d7675 71.48%, #282d93 83.23%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-body {
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  letter-spacing: -0.045rem;
  color: var(--Text-Body-Grey, #4b4954);
}
.text-body--14 {
  font-size: var(--14);
}
.text-body--16 {
  font-size: var(--16);
}
.text-body--18 {
  font-size: var(--18);
}

.container {
  width: 100%;
  max-width: 88.36619rem;
  margin: 0 auto;
}/*# sourceMappingURL=global.css.map */